{% extends "main/base.html" %}

{% block content %}
  <div id="about">
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="intro">
      <h2 class="mb-4">About?</h2>
      <p>A 3rd year Computer Science student at the University of Surrey. In my free time I play guitar and GO.
      This website was coded using Django as python is my most proficient language of which almost all the personal projects
        detailed on this site were coded in.
      </p>
    </div>
    <p><strong>Contact Via email</strong></p>
    <p>lucmccutcheon.home@gmail.com</p>
  </div>
  </div>
{% endblock %}
