{% extends "main/base.html" %}

{% block content %}
  <div id="projects">
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="intro">
      <h2 class="mb-4">Projects</h2>
      <p>
        Personal Projects
        Bellow are a selection of personal projects and notable university projects:</p>
      <ul>
        <li>Text message based music playing bot.</li>
        <li>Instagram outreach bot.</li>
        <li>MP3 Player with webscraping. (Uni project)</li>
        <li>Various stock market analytics with machine learning.</li>
        <li>Starcraft AI</li>
        <li>Discord Bot</li>
        <li>OverTheWire wargames.</li>
        <li>Discord like website (uni project).</li>
        <li>Printed letter, Handwritten letter and signature recognition using multiple algorithms (university project)</li>

      </ul>

    </div>
  </div>
  </div>
{% endblock %}
