{% extends "main/base.html" %}

{% block content %}
  <div id="projects">
  <div id="content" class="p-4 p-md-5 pt-5">
    <div id="intro">
      <h2 class="mb-4">Projects</h2>
      <p>
        Personal Projects
        Bellow are a selection of personal projects and notable university projects:</p>
      <ul>
        <li><strong>Text message based music playing bot.</strong></li>
        <p>
          This utilised a Twillo text message server to perform python functions based on received text messages.
          It would extract the command and relevent information from the text. I then utilised a discord server connected
          to my speaker to use a music bot and forwarded the text messages into the text channel to command the bot.
          When music ran out or the "play spotify" command was sent then the bot would automatically play music from
          my Spotify. This was done in python using pygame and sendkeys for controlling computer input events.
        </p>
        <li><strong>Instagram outreach bot.</strong></li>
        <p>
          This bot would loop randomly through a large set of hashtags and like/ follow accounts from each post.
        </p>
        <li><strong>MP3 Player with webscraping. (Uni project)</strong></li>
        <p>
          This project was in Java and was an MP3 payer used not only to play songs, queue, skip etc. But would also use
          webscraping to provide a description of the artist from the song name. It would use the first paragraph of
          Wikipedia as a description next to the currently playing song.
        </p>
        <li><strong>Various stock market analytics with machine learning. (uni project)</strong></li>
        <p>
          For my final year project I am anlysing tradtional trading strategies against popular machine learning
          strategies. I will also be combining the two to see if this will increase the efficency of the solution.
          The later part of the project involves an investigation on reinforcement learning and the gamification
          of trading to do so. This will involve using NEST, SVM, K-Nearest Neibours and DNN for machine learning
          and RSI, MACD and RSI/MACD for the tradtional indicators. Extensions to project may be pursued and involve
          natural language processing and/or Deep Q-Learning.

        </p>
        <li><strong>Starcraft AI</strong></li>
        <p>
          This utilised a Convolutional Neural Network in order to run functions such as "expand". This used the StarCraft 2
          API to create a heatmap which fed into a CNN in order to determine optimal strategies. Further improvements
          to the project such as the use of Long shirt-term memory have been abandoned due to time constraints.

        </p>
        <li><strong>Discord Bot</strong></li>
        <p>
          Created a music bot that used webscraping to return information from websites for which builds to use for League
          Of Legends champions. This was my first large project I undertook at a young age and had a plethera of commands
          for the entertainment of the discord server users.

        </p>
        <li><strong>OverTheWire wargames.</strong></li>
        <p>
          As part of my tutoring I completed the OverTheWire Bandit war games in order to show my students the power of
          python for networking. This involved using sockets, operating system traversal as well as a variety of
          problem solving and decryption techniques.

        </p>
        <li><strong>Discord like website (uni project).</strong></li>
        <p>
          Using REACT in my second year we created a Discord/ Slack like website with group text channels. This used a
          variety of API's such as youtube, Google maps and wheather. There was a large heirachy or uses and related
          privaleges making the backend of the project the largest aspect.

        </p>
        <li><strong>Printed letter, Handwritten letter and signature recognition using multiple algorithms (university project)</strong></li>
        <p>
          As part of my Artificial Intelligence module, I created printed letter, handwritting and signature recognition.
          In order to further my grade I generated my own printed text data using sendkeys and word to type all upper
          and lowercase letters in ~65 fonts. Then I used opencv to take a screenshot and detect boundaries, normalise
           and save the letters. I then used a variety of methods, most successful being CNN against unseen validation
          data. I also Did the same for Russian and a similar process using outsourced data for handwritten and signature
          recognition.

        </p>

      </ul>

    </div>
  </div>
  </div>
{% endblock %}
